@import url("./variables.css");
@font-face {
  font-family: Exo;
  src: url("./assets/fonts/Exo-VariableFont_wght.ttf");
}

body {
  background-color: var(--main-color-black);
  color: var(--main-color-gray);
  font-family: "Exo";
}

.backButton {
  font-weight: bold;
  margin-top: 3em;
  margin-left: 15px;
  padding: 5px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
}
