:root {
  /* colors */
  --main-color-black: #2b2929;
  --main-color-gray: #d9d9d9;
  --accent-color: #1fd360;
  --red: #880808;

  /* border radius */
  --input-radius: 5px;
  --medium-border-radius: 6px;

  /* navbar */
  --nav-horizontal-padding: 2rem;
  --nav-vertical-padding: 1rem;
  --nav-menu-size: 2.5rem;
}
