.title-admin-page {
  text-align: center;
  margin-bottom: 2rem;
}

.admin-panel {
  display: flex;
  flex-direction: column;
}

.admin-title {
  text-align: center;
}

.admin-panel-video,
.admin-panel-category {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color-gray);
  color: var(--main-color-black);
  padding: 1rem;
  border-radius: var(--input-radius);
  margin-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 4rem;
}

@media screen and (width >= 1000px) {
  .admin-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
