.cardContainer {
  width: 18.75rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}

.cardImage {
  width: 18.75rem;
}

.cardImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageNotConnected {
  filter: grayscale(85%) brightness(55%);
  width: 100%;
  height: 100%;
}

.poster-icon {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: 2;
}
.poster-icon-outline {
  z-index: 1;
}

@media screen and (width >= 800px) {
  .cardImage:hover {
    opacity: 0.6;
  }
}
