.cardContainer {
  width: 18.75rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
}

.cardImage {
  width: 18.75rem;
}

@media screen and (width > 1200px) {
  .cardContainer {
    align-items: center;
  }

  .overlay {
    text-align: center;
    display: none;
    position: absolute;
  }

  .cardContainer:hover .overlay {
    display: block;
  }

  .cardImage:hover {
    opacity: 0.4;
  }
}
