@import url("../../variables.css");

.form-error {
  margin: 0;
  color: var(--red);
}
.signup-title {
  text-align: center;
  font-size: 1.4rem;
}

.signup-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 35rem;
  background-color: var(--main-color-gray);
  border-radius: var(--input-radius);
}
.signup-subtitle {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.label-form {
  margin-top: 1rem;
  color: black;
}

.user-nameone-input {
  border: none;
  border-radius: var(--input-radius);
  width: 7rem;
  height: 1.5rem;
}
.signup-input {
  border: none;
  border-radius: var(--input-radius);
  width: 15rem;
  height: 1.5rem;
}

.signup-button {
  background-color: var(--accent-color);
  width: 7rem;
  border-radius: 1.25rem;
  border: none;
}

.user-firstname {
  display: flex;
  flex-direction: column;
}

.user-lastname {
  display: flex;
  flex-direction: column;
}

@media screen and (width >= 1200px) {
  .names-oneline {
    display: flex;
    flex-direction: row;

    .user-firstname {
      display: block;
      * {
        margin: 0 auto;
      }
    }
    .user-lastname {
      display: block;
      * {
        margin: 0 auto;
      }
    }
  }
}
