@import url("../../variables.css");

.form-error {
  margin: 0;
  color: var(--red);
  font-size: 0.7rem;
  margin-top: 0.2rem;
}
.signup-title {
  text-align: center;
  font-size: 1.4rem;
}
.msg-error {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.signup-form {
  margin: 0 auto 10rem;
  display: flex;
  flex-direction: column;
  align-items: cente;
  width: 17rem;
  height: 38rem;
  background-color: var(--main-color-gray);
  border-radius: var(--input-radius);
  padding: 1rem;
}
.signup-subtitle {
  color: black;
  font-size: 1rem;
  text-align: center;
}

.label-form {
  margin-top: 1rem;
  color: black;
}

.user-nameone-input {
  border: none;
  border-radius: var(--input-radius);
  width: 7rem;
  height: 1.5rem;
}
.signup-input {
  border: none;
  border-radius: var(--input-radius);
  width: 15rem;
  height: 1.5rem;
}

.signup-button {
  margin-top: 2rem;
  margin-left: 4rem;
  background-color: var(--accent-color);
  width: 7rem;
  height: 1.6rem;
  border-radius: 1.25rem;
  border: none;
}

.user-firstname {
  display: flex;
  flex-direction: column;
}

.user-lastname {
  display: flex;
  flex-direction: column;
}

@media screen and (width > 1200px) {
  .signup-form {
    padding: 1rem 2rem;
    height: 36rem;
  }

  .msg-error {
    display: flex;
    flex-direction: column;
  }

  .names-oneline {
    display: flex;
    flex-direction: row;

    .user-firstname {
      display: block;
      * {
        margin: 0 auto;
      }
    }
    .user-lastname {
      display: block;
      padding-left: 0.7rem;
      * {
        margin: 0 auto;
      }
    }
  }
}
