@import url("../../variables.css");

.filter-wrapper {
  padding-top: 1.5rem;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
  margin-top: 2rem;
}

.filterButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  min-width: 5rem;
  min-height: 1.75rem;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: var(--medium-border-radius);
  padding: 0.25rem 0.3rem;
}

.categories-mapped-name {
  color: var(--main-color-black);
  font-size: 1rem;
}

@media screen and (width >= 1000px) {
  .filterContainer {
    flex-direction: row;
    justify-content: flex-start;
    gap: 1;
  }
}
