@import url("../../variables.css");

.footer-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  border-top: 0.125rem dotted var(--main-color-gray);
}
