.searchForm {
  display: flex;
  justify-content: center;
}

#search {
  border-radius: 0.3125rem;
}

.searchButton {
  font-weight: bold;
  width: 6.25rem;
  height: 3.125rem;
  background-color: var(--accent-color);
  border: 0.125rem solid var(--accent-color);
  border-radius: 0.3125rem;
}

@media screen and (width > 760px) {
  #search {
    width: 30rem;
  }
}
