.searchForm {
  display: flex;
  justify-content: center;
}

#search {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 1rem;
  border: 1px solid transparent;
}

#search:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.searchButton {
  font-weight: bold;
  width: 2.25rem;
  height: 2.25rem;
  background-color: var(--accent-color);
  border: 0.125rem solid var(--accent-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

@media screen and (width >= 800px) {
  #search {
    width: 40rem;
    height: 2.5rem;
  }

  .searchButton {
    height: 2.75rem;
  }
}
