.cTitle {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.categoryCards {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  font-size: 0.8em;
  margin-bottom: 2em;
}

@media screen and (width >= 800px) {
  .categoryCards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
