.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--main-color-gray);
  color: black;
  height: 28rem;
  width: 20rem;
  border-radius: var(--input-radius);
}
.login-title {
  padding-top: 2rem;
}

.login-text {
  margin: 0;
}
.container-text {
  margin-bottom: 2rem;
}

#button-here {
  color: var(--accent-color);
  text-decoration: underline;
}

.email-login,
.password-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  .input-login {
    width: 14rem;
    height: 1.5rem;

    border-radius: var(--input-radius);
    border: none;
  }
}
.form-error-login {
  margin: 0;
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 0.2rem;
  max-width: 14rem;
}

.login-button {
  background-color: var(--accent-color);
  width: 7rem;
  height: 1.6rem;
  border-radius: 1.25rem;
  border: none;
  margin-left: 3rem;
}

@media screen and (width > 1200px) {
  .login-form {
    width: 25rem;
  }
}
