.sTitle {
  text-align: center;
}

.resultCards {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  font-size: 0.8em;
}

@media screen and (width > 600px) {
  .resultCards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
