@import url("../../variables.css");

.navbar-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  padding: calc(var(--nav-vertical-padding) / 2) var(--nav-horizontal-padding);
}

.logo {
  max-height: 4rem;
}

.menu-button {
  background-image: url("../../assets/images/menu.svg");
  object-fit: contain;
  color: transparent;
  border: none;
  background-color: transparent;
  max-width: var(--nav-menu-size);
  max-height: var(--nav-menu-size);
  min-height: var(--nav-menu-size);
  padding: 0;
  cursor: pointer;
}

#navlinks {
  margin: 0;
  position: absolute;
  top: calc(var(--nav-menu-size) + var(--nav-vertical-padding));
  left: var(--nav-horizontal-padding);
  background-color: var(--main-color-black);
  color: var(--main-color-gray);
  border-radius: 0.375rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25rem;
  }
}
